<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Sobre</title>
</head>
<body>
<h2>Trabalho de Programação para a Web, orientado pelo professor Hudson.</h2>
<p>Sobre o nosso trabalho, criamos um calendário, com opções de criar eventos e convidas pessoas para tais. A pessoa pode utilizar o calendário para agendar eventos, ver suas programações atuais, assim como horário, data, informações em geral.</p>
<p>É necessário a pessoa estar logada para ver os eventos de sua conta. E ter permissão para convidar pessoas e fazer mudanças em seu calendário.</p>
<p>O trabalho foi desenvolvido por:<br>
    - Flávio Augusto Correia de Souza
    <br>- Helionardo Pereira Justi
    <br>- Jéssica Abe de Almeida
</p>
</body>
</html>