<h1>{{data.toLocaleString('pt-BR')}}</h1>

<h2>Eventos - </h2> <p>Aqui estão detalhados todos os eventos do dia.</p>
<table class="table">
    <thead>
        <th scope="col">Titulo</th>
        <th scope="col">Inicio</th>
        <th scope="col">Local</th>
        <th scope="col">Fim</th>
    </thead>
    <tbody>
        <tr *ngFor="let evento of eventosList" 
            id="{{evento.id}}"
            (click)="enviaParaEvento(evento)">
            <td>{{evento.titulo_evento}}</td>
            <td>{{evento.local_evento}}</td>
            <td>{{evento.data_inicio.toLocaleString()}}</td>
            <td>{{evento.data_fim.toLocaleString()}}</td>
        </tr>
        
    </tbody>
</table>
