.celula-calendario{
    border: 1px solid #343434
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-gap: 2px;
    background-color: #343434;
    padding: 2px;
    
  }

  .container{
    padding-top: 3vw;
  }
  
  .grid-container > div {
    background-color: #EDEDED;
    text-align: center;
    padding: 4px 0;
    font-size: 30px;
    
  }

  .grid-container > .dia:hover {
    background-color: #DDDDDD;
    text-align: center;
    padding: 4px 0;
    font-size: 30px;
  }
  
  .cabecalho {
    grid-column: 1 / 8;
  }

   
  .vazio{
    background-color: #343434 !important;
  }
