<div class="container"> 
    <div class="grid-container">
        <div class="cabecalho"><p>teste</p></div>
        <div><p>Domingo</p></div>
        <div><p>Segunda</p></div>
        <div><p>Terça</p></div>
        <div><p>Quarta</p></div>
        <div><p>Quinta</p></div>
        <div><p>Sexta</p></div>
        <div><p>Sabado</p></div>
        <div><p>Domingo</p></div>
        <div><p>Segunda</p></div>
        <div><p>Terça</p></div>
        <div><p>Quarta</p></div>
        <div><p>Quinta</p></div>
        <div><p>Sexta</p></div>
        <div><p>Sabado</p></div>
        <div><p>Domingo</p></div>
        <div><p>Segunda</p></div>
        <div><p>Terça</p></div>
        <div><p>Quarta</p></div>
        <div><p>Quinta</p></div>
        <div><p>Sexta</p></div>
        <div><p>Sabado</p></div>
        <div><p>Domingo</p></div>
        <div><p>Segunda</p></div>
        <div><p>Terça</p></div>
        <div><p>Quarta</p></div>
        <div><p>Quinta</p></div>
        <div><p>Sexta</p></div>
        <div><p>Sabado</p></div>
        <div><p>Domingo</p></div>
        <div><p>Segunda</p></div>
        <div><p>Terça</p></div>
        <div><p>Quarta</p></div>
        <div><p>Quinta</p></div>
        <div><p>Sexta</p></div>
        <div><p>Sabado</p></div>
    </div>
</div>